<input size="35" maxlength="64" name="1137138199" type="text" autocapitalize="off" autocorrect="off" 
placeholder="Email or username" class="form-control" ng-model="email">
</br>
<input size="35" maxlength="64" name="142345403" id="142345403" type="password" autocapitalize="off" 
autocorrect="off" placeholder="Password" class="form-control" ng-model="password">
</br>
<div>
<input style="width: 275px;" type="submit" value="Sign in" id="sgnBt" class="btn btn-primary btn-block" class="btn ipb btn-primary" ng-click="signin()">
</div>

<div class ="text-right">
</br>
<a title="Forgot your Password">Forgot your Password?</a>
</div>